@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


body{
    background-color: #9e9e9e9e;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Bebas Neue';
    font-size: 45px;

}

.Botao{
    background-color: #000000;
    border: none;
    color: #fff;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 45px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    transition: transform 0.5s ease;
    font-family: 'Bebas Neue';
}

input{

    position: absolute;
height: 50px;
font-size: 25px;



}